/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth;
  }
  body{
    /* background: url("/static/images/pattern-bg.svg") no-repeat;
    background-size: cover; */
    background: linear-gradient(90deg, #ffffff 21px, transparent 1%) center, linear-gradient(#ffffff 21px, transparent 1%) center, #cec4bc;
    background-size: 22px 22px;
    
    /* background: url("https://images.pexels.com/photos/2414036/pexels-photo-2414036.jpeg?cs=srgb&dl=pexels-matheus-viana-2414036.jpg&fm=jpg") */
  }
  p{
    margin-bottom: 10px;
  }
  p > a{
    color: red;
  }
  p > a:hover{
    text-decoration: underline;
  }
  
}

@layer components {
  html {
    @apply bg-white text-gray-800 antialiased
  }
  .col-sm {
    @apply max-w-screen-sm mx-auto px-4;
  }
  .col-lg {
    @apply max-w-screen-xl mx-auto px-4;
  }
}
